
@{
    ViewBag.Title = "Índice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    @RenderPage("~/Views/Shared/_Navbar.cshtml")
    <script src="~/scripts/jquery-2.1.1.min.js"></script>
    <script src="~/scripts/jquery.signalr-2.2.0.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">
    $(function () {
        // Declare a proxy to reference the hub.
        var notifications = $.connection.notificationHub;

        //debugger;
        // Create a function that the hub can call to broadcast messages.
        notifications.client.displayStatus = function () {
            getAllMessages();
        };
        // Start the connection.
        $.connection.hub.start().done(function () {
            getAllMessages();
        }).fail(function (e) {
            alert(e);
        });
    });


    function getAllMessages() {
        var div = $('#dbNotifications');
        $.ajax({
            url: '/Reservation/GetUpdate',
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'html'
        }).success(function (result) {
            div.empty().append(result);
        }).error(function () {

        });
    }
    </script>



    <div id="wrap">

        <h1>Aplicación de Reserva de Mesas</h1>

        <div id="content">

            <p>En esta aplicación web usted podrá realizar reservas de mesa.</p>

            <div id="dbNotifications"></div>
        </div>

    </div>

</body> 
