
@{
    ViewBag.Title = "_Navbar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nav">
    <ul>
        <li>@Html.ActionLink("Home", "ReservationHome")</li>
        <li>@Html.ActionLink("Crear Reserva","ReservationCreate")</li>
    </ul>
</div>